.tzpicker 
{
	 overflow: auto;
	 overflow-x: hidden;
}
.tzpicker-map 
{
	position: relative; /* for the markers to do absolute against... */
	width: 100%;
	height: 100%;
	background: url("world.png");
	background-size: 100% 100%;
}

.tzpicker-overlay 
{
	position: absolute;
	width: 100%;
	height: 100%;
	background: url("overlay.png");
	background-size: 100% 100%;
}

.tzpicker-marker
{
	position: absolute;
	width: 3px;
	height: 3px;
	color: white;
	background-color: darkred;
	z-index: 1000;
}

.tzpicker-marker.selected
{
	background-color: red !important;
	-moz-box-shadow: 1px 1px 4px #f88;
	-webkit-box-shadow: 1px 1px 4px #f88;
	box-shadow: 1px 1px 4px #f88;
	z-index: 1002;
}

.tzpicker-marker.far
{
	background-color: #978b93;
	z-index: 1001;
}
